<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <ul>

            <a href="{{ path('test') }}">index</a>
            <a href="{{ path('detail_t') }}">detail</a>
            <a href="{{ path('hello', {'name': 'master'}) }}">Master</a>
            <a href="{{ path('hello', {'name': 'slave'}) }}">Slave</a>

        </ul>
        {% block javascripts %}{% endblock %}
    </body>
</html>
